@font-face {
  font-family: 'Satoshi';
  src: url('../assets/fonts/Satoshi-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Optional reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Satoshi', sans-serif;
}
